<%- include('../layouts/header.ejs',{userSession,cartLength,category}) %>

<section class="content-main mt-80 mb-80">
    <div class="col-lg-6" style="margin-left: 400px;">
        <!-- <div class="col-md-6" style="align-items: center;"> -->
    <div class="card mx-auto card-login" >
        <div class="card-body">
            <h4 class="card-title mb-4 mt-4 " style="margin-left: 230px;">Reset Password</h4>
            <form method="post" action="/updatePassword" onsubmit="return validateForm('<%= user.email %>') ">
                <div class="mb-3">
                    <input class="form-control" name="email" placeholder="email" type="email" id="email">
                    <div class="error-message" id="email-error"></div>
                </div>
                <div class="mb-3">
                    <input class="form-control" name="password" placeholder="New password" type="password" id="password">
                    <div class="error-message" id="password-error"></div>
                </div>
                <div class="mb-3">
                    <input class="form-control" name="confirmPassword" placeholder="Confirm New Password" type="password" id="confirmPassword">
                    <div class="error-message" id="confirmPassword-error"></div>
                </div>
                <div class="col-lg-4 mb-4 mt-4" style="margin-left: 220px;">
                    <button type="submit"  class="btn btn-primary w-100">Reset</button>
                </div>
            </form>
           
            <p class="text-center mb-4">Don't have account? <a href="/register">Sign up</a></p>
        </div>
    </div>
<!-- </div> -->
</div>
</section>

<script>
    

    function validateForm(userEmails){

        clearErrorMessage();

        const userEmail = userEmails;
        console.log(userEmail+"this is email");
        const email = document.getElementById('email').value;
        const newPass = document.getElementById('password').value;
        const confirmPass = document.getElementById('confirmPassword').value;

let isValid =true;

if(String(userEmail) !== String(email) || email.trim() === ''){
displayErrorMessage('email-error','invalid email');
isValid = false;
}
if(newPass.trim()=== ''){
    displayErrorMessage('password-error','Please fill this fileld');
    isValid = false
}
if(newPass !== confirmPass || confirmPass.trim() === ''){
    displayErrorMessage('confirmPassword-error','passwords not matching');
    isValid = false
}



return isValid;
    }

    function displayErrorMessage(errorId,message){
        const errorDiv = document.getElementById(errorId);
        errorDiv.innerText = message
    }

    function clearErrorMessage(){
        const errorMessage = document.querySelectorAll('.error-message');
        errorMessage.forEach((item)=>{
            item.innerText = '';
        })
    }

</script>



<%- include('../layouts/footer.ejs') %>