<%- include('../layouts/header.ejs',{userSession,cartLength,category}) %>
    <style>
        .move1 {
            margin-left: 210px;
        }

        .form-group-btn {
            padding-left: 160px;
        }

        .ermsg {
            padding-left: 80px;
        }

        .login_wrap {
            margin-left: 120px;
        }

        .heading_s1 {
            margin-left: 120px
        }
    </style>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="Follow">Home</a>
                    <span></span> Pages
                    <span></span> Login
                    <span></span> Email Cornfirmed
                    <span></span> Change Password
                </div>
            </div>
        </div>
        <div class="move">
            <section class="pt-100 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 m-auto">
                            <div class="row">
                                <div class="move1 col-lg-7 ">
                                    <div
                                        class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                        <div class="padding_eight_all bg-white">
                                            <div class="heading_s1">
                                                <h3 class=" pb-40">Change Password</h3>
                                            </div>
                                            <form method="post" action="/confirmPassword?email=<%= email %>" onsubmit=" return validateForm() ">
                                                <div class="form-group">
                                                    <input type="password"  name="firstPassword"
                                                        placeholder="Enter New Password">
                                                    <div class="error-message" id="firstpassword-error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="password" id="secondPassword"
                                                        placeholder="Confirm New Password">
                                                    <div class="error-message" id="secondpassword-error"></div>
                                                </div>
                                                <!-- message printing area...................................................................................... -->
                                                <!-- <% if(typeof message !=='undefined' ){ %>
                                                <div>
                                                    <p class="ermsg" style="color: red;" id="messages">
                                                        <%= message %>
                                                    </p>
                                                </div>
                                                <script>
                                                    setTimeout(function () {
                                                        var errorMessage = document.getElementById('messages');
                                                        errorMessage.style.display = 'none';
                                                    }, 5000);
                                                </script>
                                                <% } %> -->
                                                <!-- .............................................................................................................. -->
                                                <div class="login_footer form-group">
                                                    <div class="chek-form">
                                                        <div class="custome-checkbox">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="checkbox" id="exampleCheckbox1" value="">
                                                            <label class="form-check-label"
                                                                for="exampleCheckbox1"><span>Remember me</span></label>
                                                        </div>
                                                    </div>
                                                    <!-- <a class="text-muted" href="/forgetPass">Forgot password?</a> -->
                                                    <a class="text-muted" href="/register">Create an account?</a>
                                                </div>

                                                <div class="form-group-btn">
                                                    <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                        >submit</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <script>
                        function validateForm() {
                            clearErrorMessages();

                            const firstPassword = document.getElementsByName('firstPassword')[0].value;
                            const secondPassword = document.getElementById('secondPassword').value;
                            console.log('passwordddd'+firstPassword,secondPassword)
                            let isValid = true;


                            if (firstPassword.trim() === '') {
                                displayErrorMessage('firstpassword-error', 'Please enter a valid password')
                                isValid = false;
                            }
                            // if (secondPassword.trim() === '') {
                            //     displayErrorMessage('secondpassword-error', 'Please confirm entered Password')
                            //     isValid = false
                            // }
                            if ( secondPassword.trim() === ''|| secondPassword !== firstPassword) {
                                displayErrorMessage('secondpassword-error', 'Wrong Password! Please Confrim New Password');
                                isValid = false
                            }
                            return isValid;

                        }

                        function displayErrorMessage(errorId, message) {
                            const errorDiv = document.getElementById(errorId)
                            errorDiv.innerText = message
                        }

                        function clearErrorMessages() {
                            const errorMessages = document.querySelectorAll('.error-message');
                            errorMessages.forEach((errorMessage) => {
                                errorMessage.innerText = '';
                            });
                        }
                    </script>

                </div>
            </section>
    </main>
    </div>



    <%- include('../layouts/footer.ejs') %>