<%- include('../layouts/header.ejs',{userSession,cartLength,category}) %>
    <style>
        .move1 {
            margin-left: 210px;
        }

        .form-group-btn {
            padding-left: 160px;
        }
        .ermsg{
            padding-left: 80px;
        }
        .login_wrap{
            margin-left: 120px;
        }
        .heading_s1{
            margin-left: 130px
        }
    </style>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="Follow">Home</a>
                    <span></span> Pages
                    <span></span> Login 
                    <span></span> Confirm Email
                </div>
            </div>
        </div>
        <div class="move">
            <section class="pt-100 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 m-auto">
                            <div class="row">
                                <div class="move1 col-lg-7 ">
                                    <div
                                        class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                        <div class="padding_eight_all bg-white">
                                            <div class="heading_s1">
                                                <h3 class=" pb-40">Confirm Email</h3>
                                            </div>
                                            <form method="post" action="/forgetPassEmailVerify">
                                                <div class="form-group">
                                                    <input type="text" required="" name="email"
                                                        placeholder="Your Email">
                                                </div>
                                                <!-- <div class="form-group">
                                                    <input required="" type="password" name="password"
                                                        placeholder="Password">
                                                </div> -->
                                                 <!-- message printing area...................................................................................... -->
                                             <% if(typeof message !=='undefined' ){ %>
                                                <div>
                                                    <p class="ermsg" style="color: red;" id="messages">
                                                        <%= message %>
                                                    </p>
                                                </div>
                                                <script>
                                                    setTimeout(function () {
                                                        var errorMessage = document.getElementById('messages');
                                                        errorMessage.style.display = 'none';
                                                    }, 5000);
                                                </script>
                                                <% } %>
                                                    <!-- .............................................................................................................. -->
                                                <div class="login_footer form-group">
                                                    <!-- <div class="chek-form">
                                                        <div class="custome-checkbox">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="checkbox" id="exampleCheckbox1" value="">
                                                            <label class="form-check-label"
                                                                for="exampleCheckbox1"><span>Remember me</span></label>
                                                        </div>
                                                    </div> -->
                                                   
                                                    <a class="text-muted" href="/register">Create an account?</a>
                                                </div>

                                                <div class="form-group-btn">
                                                    <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                                        name="login">submit</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </main>
    </div>



    <%- include('../layouts/footer.ejs') %>